openapi: 3.0.1
info:
  version: 1.8.1
  title: OpenOCR
  description: OpenOCR is a wrapper around Tesseract easily deployable as a service
  contact:
    name: xf0e
    email: droidlove@ya.ru
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
tags:
  - name: OpenOCR
    description: Service wrapper around Tesseract
    externalDocs:
      description: Find out more
      url: https://github.com/xf0e/open-ocr
paths:
  /ocr:
    post:
      tags:
        - ocr
      summary: Place a new OCR request
      description: ""
      operationId: addOCR
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DecodeOCR"
        description: Pass image url and other info to decode image to text via OCR
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
        "400":
          description: Invalid input
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ApiResponseNOK"
        "503":
          description: Service Unavailable
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ApiResponseNOK"
  /ocr-status:
    post:
      tags:
        - ocr-status
      summary: returns status of given request
      description: returns status of given request, submit id
      operationId: ocr-status
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OCRStatus"
        description: Pass request id to get the status of that request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
        "400":
          description: client error
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ApiResponseNOK"
        "500":
          description: internal server error
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ApiResponseNOK"
servers:
  - url: https://dms-t-to1.bghw.de:8080/
  - url: http://dms-t-to1.bghw.de:8080/
components:
  schemas:


    DecodeOCR:
      properties:
        deffered:
          type: boolean
          default: false
          description: if set (default is false) the connection will be reset after request
            is placed. The client have to either set reply_to or poll to on
            /orc-status get the request.
        reply_to:
          type: string
          format: uri
          example: http://localhost:8888/postback-ocr
          description: if set the Server will deliver the result to the given adress
      oneOf:
        - $ref: '#/components/schemas/DecodeORCSandwich'
        - $ref: '#/components/schemas/DecodeORCTesseract'

    DecodeORCSandwich:
      title: sandwich engine
      type: object
      properties:
        engine:
          type: string
          description: only use sandwich in production
          enum:
            - sandwich
        doc_type:
          type: string
          description: "the service can prioritise some document types if the admin has configured document types priorities."

        page_number:
          type: integer
          format: int32
          minimum: 1
          description: "only user in logging now"

        time_out:
          type: integer
          format: int32
          minimum: 10
          description: "You can set the maximum processing time for a particular request. If timeout has been reached prior finisching request the service will stop processing"

        user_agent:
          type: string
          minLength: 3
          maxLength: 100
          description: "please always set the user-agent for loggin purposes"

        reference_id:
          type: string
          description: "please always set the reference ID (e.g. Internal job ID)"

        engine_args:
          type: object
          description: The OCR engine arguments to pass (engine-specific)
          properties:
            ocr_type:
              type: string
              description: "txt will return text, combinedpdf will return original pdf with ocr layer, if ocrlayeronly is set the service will return a pdf with orc layer (in pdf viewer the text is invisible, but searchable). All values will return base64 encoded value except for an erroneuous request. In this case the service will terurn the same object but the key text will contain human error"
              enum:
                - "txt"
                - "combinedpdf"
                - "ocrlayeronly"
            result_optimize:
              type: boolean
              default: false
              description: If set the resulting pdf will be delivered with pdf 1.7 specification and the resolution at 300 x 300 (prepress settings of gs)
            config_vars:
              type: string
              description: Config vars - equivalent of -c args to tesseract
            psm:
              type: string
              description: Page Segment Mode, equivalent of -psm arg to tesseract.  To use
                default, omit this field from the JSON.
              enum:
                - "0"
                - "1"
                - "2"
                - "3"
                - "4"
                - "5"
                - "6"
                - "7"
                - "8"
                - "9"
                - "10"
            lang:
              type: "string"
              description: "The language to use. If omitted, will use English"
              enum:
                - "eng"
                - "ara"
                - "bel"
                - "ben"
                - "bul"
                - "ces"
                - "dan"
                - "deu"
                - "ell"
                - "fin"
                - "fra"
                - "heb"
                - "hin"
                - "ind"
                - "isl"
                - "ita"
                - "jpn"
                - "kor"
                - "nld"
                - "nor"
                - "pol"
                - "por"
                - "ron"
                - "rus"
                - "spa"
                - "swe"
                - "tha"
                - "tur"
                - "ukr"
                - "vie"
                - "chi-sim"
                - "chi-tra"
      oneOf:
        - $ref: '#/components/schemas/imgBase64'
        - $ref: '#/components/schemas/imgURL'
      required:
        - engine



    DecodeORCTesseract:
      title: tesseract engine
      type: object
      properties:
        engine:
          type: string
          description: only use tesseract in production
          default: tesseract
          enum:
            - tesseract
            - mock
            - go_tesseract
        inplace_decode:
          type: boolean
          default: false
          description: If true, will attempt to do ocr decode in-place rather than queuing
            a message on RabbitMQ for worker processing.  Useful for local
            testing, not recommended for production.
        engine_args:
          type: object
          description: The OCR engine arguments to pass (engine-specific)
          properties:
            config_vars:
              type: string
              description: Config vars - equivalent of -c args to tesseract
            psm:
              type: string
              description: Page Segment Mode, equivalent of -psm arg to tesseract.  To use
                default, omit this field from the JSON.
              enum:
                - "0"
                - "1"
                - "2"
                - "3"
                - "4"
                - "5"
                - "6"
                - "7"
                - "8"
                - "9"
                - "10"
            lang:
              type: "string"
              description: "The language to use. If omitted, will use English"
              enum:
                - "eng"
                - "ara"
                - "bel"
                - "ben"
                - "bul"
                - "ces"
                - "dan"
                - "deu"
                - "ell"
                - "fin"
                - "fra"
                - "heb"
                - "hin"
                - "ind"
                - "isl"
                - "ita"
                - "jpn"
                - "kor"
                - "nld"
                - "nor"
                - "pol"
                - "por"
                - "ron"
                - "rus"
                - "spa"
                - "swe"
                - "tha"
                - "tur"
                - "ukr"
                - "vie"
                - "chi-sim"
                - "chi-tra"
      oneOf:
        - $ref: '#/components/schemas/imgBase64'
        - $ref: '#/components/schemas/imgURL'
      required:
        - engine

    imgBase64:
      type: object
      properties:
        img_base64:
          type: string
          format: byte
          description: "Base64 encoded document to process"
      required:
        - img_base64

    imgURL:
      type: object
      properties:
        img_url:
          type: string
          format: uri
          description: "The URL of the image or the pdf to process. If set, ocr server will
            try to download the image"
      required:
        - img_url


    ApiResponse:
      type: object
      properties:
        text:
          type: string
          description: "Contains either the OCR-Result of the error message if field status
            is set to error. Text can contain a plain text or a base64 encoded
            file. It depends on the parameter ocr_type at placing request"
        id:
          type: string
          example: 1sDRnIKpJSijZaMXmXoCqQVc32N
          description: K-Sortable Unique IDentifier
          maxLength: 28
          minLength: 28
        status:
          type: string
          description: can be error, not found, processing or done
    ApiResponseNOK:
      type: string
      example: Unable to unmarshal json, malformed request. RequestID
        26EaJxRYY2njljk9kLhTMSCGgeI
    OCRStatus:
      type: object
      description: status of request to given ID
      properties:
        img_url:
          type: string
          description: The ID of the Request, ID is K-Sortable Unique IDentifier
          example: 1sDRnIKpJSijZaMXmXoCqQVc32N
          maxLength: 28
          minLength: 28